.company-div{
    width: 410px;
    height: 310px;
    /* border: solid; */
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
}

.mainProperty{
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
}


.imgBook{
    width: 135px;
    height: 125px;
    /* border: solid; */
    background: #E6E7E9;
    border-radius: 10px;
   
}

.bookimg{
    width: 135px;
    height: 125px;
}


.company{
    background-color: #F7F8FA
}

.aboutComp{
    width: 205px;
    height: 125px;
    /* border: solid; */
   display: flex;
   flex-direction: column;
   gap: 5px;
}

.url{
    color: #FF6E1D;
}


.blackWrite{
    color: #B4B4B4
}


.doProperty{
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* border: solid; */
}

.public{
    width: 138px;
    height: 45px;
    border: 1px solid #6DBC2D;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #6DBC2D;

}



.edit{
    width: 138px;
    height: 45px;
    background: #EBECEE;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ADADAD;
    border: none;
    text-decoration: underline;
    cursor: pointer;

}


.createBut{
    width: 208px;
    height: 65px;
    border-radius: 10px;
    background: #FF6E1D;
    color: #FFFFFF;
    border: none;
}

.createComp{
    width: 20%;
    height: 80px;
    /* border: solid; */
    display: flex;
    justify-content: center;
    align-items: center;
}


.companies{
    width: 95.5%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 14px;
    /* border: solid; */
    
}

.nameComp{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    /* border: solid; */
}

.compForm{
    width: 100%;
    height: 100%;
    background: rgba(247, 248, 250, 0.8);
    /* opacity: 0.1; */
    position: absolute;
    z-index: 20;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    
    
}

.form{
    width: 770px;
    height: 650px;
    background-color: #FFFFFF;
    position: absolute;
    /* opacity: 0.9; */;
    left: 575px;
    top: 30px;
    border: solid;
    display: flex;
    justify-content: center;
    align-items: center;

}